<div class="result row">
	<div class="title">
		<h4>#<%= organisationNameEnglish %> <%= districtNameEnglish %></h4>
		<div class="meta"><strong>Meta-data:</strong> Reported by: <%= schedule[0].dateFrom %>, Comments: <%= locationNameEnglish %></span>
	</div>
</div>
